<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Enter your property details here</h1>


  <form>
    <input type="text" name="property name" placeholder="Proprty Name...">
    <input type="submit" value="submit">
  </form>

  </body>
</html>
