

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SNAM BnB</title>
  </head>
  <body>


Welcome!

<div>
  <form action="/properties" method="get">
    <button type="submit">View Properties</button>
  </form>
</div>










  </body>
</html>
