<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @property[0].property %></h1>
    <h2><%= @property[0].description %></h2>
    <h3><%= @property[0].username %></h3>
  </body>
</html>
