<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Available Properties</h1>
    <form action='/addproperty' method='get'>
      <button type='submit' name='add'>Add Property</button>
    </form>

  </body>
</html>
