<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Available Properties</h1>



    <% @properties.each do |pro|%>
      <form action='/property/<%= pro.id %>' method='get'>
        <input type="hidden" name='id' value="<%= pro.id %>">
      <li><a href="/property/<%= pro.id %>" type='submit'><%= pro.property %></a></li>
      </form>
    <% end %>

    <form action='/addproperty' method='get'>
      <button type='submit' name='add'>Add Property</button>
    </form>

  </body>
</html>
